@model CookBook.Models.Recipe

@{
    ViewBag.Title = "Details";
}
<body style="background-image:url(http://www.presentationmagazine.com/images3/background-design-orange1024.jpg)">
<h2>Details</h2>

<div>
    <h4 style="font-size:xx-large">Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="font-size:medium">
            @Html.DisplayNameFor(model => model.RecipeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeType)
        </dd>
        <dt style="font-size:medium">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt style="font-size:medium">
            @Html.DisplayNameFor(model => model.PrepTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrepTime)
        </dd>

        <dt style="font-size:medium">
            @Html.DisplayNameFor(model => model.CookTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CookTime)
        </dd>

        <dt style="font-size:medium">
            @Html.DisplayNameFor(model => model.NumberServ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberServ)
        </dd>

        <dt style="font-size:medium">
            @Html.DisplayNameFor(model => model.RecipeIngredients)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Ingredient Name</th>
                    <th>Amount</th>
                    <th>Amount Size</th>
                </tr>
                @foreach (var item in Model.RecipeIngredients)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ingredient.IngredientName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AmountSize)
                        </td>
                    </tr>
                }
            </table>
        </dd>

        <dt style="font-size:medium">
            @Html.DisplayNameFor(model => model.Steps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Steps)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</body>