@model CookBook.Models.RecipeIngredient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RecipeIngredient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.IngredientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient.IngredientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
